@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* FullCalendar STYLES */
.fc-header-toolbar {
  @apply flex flex-col lg:flex-row items-start lg:items-center;
}

.fc-toolbar-title {
  @apply text-facebook dark:text-gray-400 font-bold;
}

.fc-button[title="Day view"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-dayGridMonth-button[title="Month view"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-button[title="Month view"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-button[title="Week view"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-next-button[title="Next Day"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-prev-button[title="Previous Day"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-next-button[title="Next Month"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-prev-button[title="Previous Month"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-next-button[title="Next Week"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-prev-button[title="Previous Week"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-today-button[title="Today"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-today-button[title="This Month"] {
  @apply bg-facebook dark:bg-gray-700;
}

.fc-popover {
  @apply bg-background dark:bg-gray-700;
}

.fc-popover-title {
  @apply text-facebook dark:text-gray-300;
}

.fc .fc-toolbar {
  @apply items-start;
}

.fc-col-header-cell {
  @apply text-facebook dark:text-gray-300 font-semibold;
}

.fc .fc-daygrid-day-frame {
  @apply min-h-[80px] lg:min-h-[100%];
}

.fc-timegrid-slot .fc-timegrid-slot-lane {
  @apply border-b border-border;
}

.fc-theme-standard td,
.fc-theme-standard th {
  @apply border border-gray-300 dark:border-gray-700;
}

.fc-theme-standard .fc-scrollgrid {
  @apply border border-gray-300 dark:border-gray-700;
}

.fc-h-event {
  background-color: transparent;
  border: none;
}

/**
 * Custom Clerk Login Page
 */

.cl-card {
  @apply bg-card w-full mx-auto ml-2 shadow-none;
}

.cl-headerTitle {
  @apply text-primary;
}

.cl-headerSubtitle {
  @apply text-muted-foreground w-full;
}

.cl-socialButtonsBlockButton__google {
  @apply bg-background hover:bg-opacity-80 tracking-normal;
}

.cl-formButtonPrimary {
  @apply bg-primary text-primary-foreground hover:bg-primary/80;
}

.cl-dividerLine {
  @apply bg-primary;
}

.cl-dividerText {
  @apply text-muted-foreground;
}

.cl-formFieldLabel {
  @apply text-muted-foreground;
}

.cl-footerActionText {
  @apply text-muted-foreground;
}

.cl-formFieldInfoText__password {
  @apply text-muted-foreground;
}

.cl-formFieldSuccessText {
  @apply text-green-500;
}

.cl-footerActionLink {
  @apply text-primary pointer-events-auto;
}
