html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.divider {
  background: #a0aec0;
  height: 0.5px;
  margin: 0.5rem 0;
}

/* TODO: Will remove later. This is for visualizing the box model */
.testing {
  border: 1px dotted red;
}
